@model PersonalSite1.UI.MVC.Models.ContactViewModel

<div>
    @if (Model = null)
    {
            <p>
                Thank you for your message, @Model.Name. <br />
                I will respond to you at @Model.Email at my earliest convenience. <br />
                - <em>David Muolo</em>
            </p>
    }
</div>