@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Header ======= -->
<header id="header" class="header-tops">
    <div class="container">

        <h1><a href="@Url.Action("Index", "Home")">David Muolo</a></h1>
        <h2>I'm a passionate <span>full stack web developer</span> from Kansas City</h2>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#classmates">Classmates</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="social-links">
            <a href="https://github.com/dmuolo" target="_blank" class="ri-github-fill"<i class="icofont-github"></i></a>
            <a href="https://www.linkedin.com/in/david-muolo" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>
            <a href="https://www.facebook.com/david.muolo.1/" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
        </div>

    </div>
</header><!-- End Header -->
<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about my work</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="~/Content/img/Headshot.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Full Stack Web Developer</h3>
                <p class="font-italic">
                    Specialize in the .NET Framework
                </p>

                <div class="row">
                    <div class="col-lg-10">
                        <ul>
                            <li class="fontMod"><i class="icofont-rounded-right"></i> <strong>Technical Training:</strong> Full Stack Web Development - Centriq Training</li>
                            <li class="fontMod"><i class="icofont-rounded-right"></i> <strong>Education:</strong> B.A. in Music - UMKC</li>
                        </ul>
                    </div>
                </div>
                <p>
                    As the Shipping &#38; Receiving Coordinator at A&#38;K Railroad Materials for 2-1/2 years, I worked in Enterprise Resource Planning software, Office Suite, and even got to help with the implementation of our new ERP software rollout as the Shipping & Receiving SME.

                    <br />
                    <br />

                    While thinking through next steps for my career, I realized a couple things: <br /><strong>1.</strong> The part of my job I enjoyed most was the <u><strong>technology</strong></u>. <br /><strong>2.</strong> Working in an industrial setting was not one of my long-term career goals based on my skills and interests.

                    <br />
                    <br />

                    Following some research and conversations, I discovered the <u><strong>developer career track</strong></u> &#38; became very interested. I quit my job to invest 4 months of my life into nothing but coding, problem solving, and code review with a group of hard-working developers at <u><strong>Centriq training</strong></u>.

                    <br />
                    <br />

                    I'm currently working on implementing and growing these skills through developing projects while looking for a company that will allow me to put my development, teamwork, and problem solving skills to work and grow as a developer.
                </p>
            </div>
        </div>

    </div>

    <div class="skills container">

        <div class="section-title">
            <h2>Skills</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">HTML <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">C# <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">jQuery <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">ReactJS <i class="val">20%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>

    </div><!-- End Skills -->
    <!-- ======= Core Competencies ======= -->
    <div class="interests container">

        <div class="section-title">
            <h2>Technologies</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/file_type_html_icon_130541.ico" style="height: 32px; width: 32px; margin-left: 0px; margin-right: 8px;" />
                    <h3>HTML5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/file_type_css_icon_130661.ico" style="height: 32px; width: 32px; margin-left: 0px; margin-right: 8px;" />
                    <h3>CSS3</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/javascript_plain_logo_icon_146454.ico" />
                    <h3>JavaScript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/csharp_plain_logo_icon_146577.ico" style="height: 34px; width: 34px; margin-left: -2px; margin-right: 10px;" />
                    <h3>C#</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/dot_net_original_logo_icon_146546.ico" />
                    <h3>.NET MVC</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/bootstrap_plain_logo_icon_146619.ico" />
                    <h3>Bootstrap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/data-analysis_icon-icons.com_52842.ico" />
                    <h3>MSSQL / SSMS</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/jquery_original_logo_icon_146446 (1).ico" />
                    <h3>jQuery</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/Github_social_media_corporate_logo_icon-icons.com_67672.ico" />
                    <h3>GitHub</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/arrow_refresh_15732.ico" />
                    <h3>AJAX</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/file_type_reactjs_icon_130205.ico" />
                    <h3>ReactJS</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img class="outsideIcon" src="~/Content/Icons/applicationjson_92733.ico" style="height: 34px; width: 34px; margin-left: 0px; margin-right: 10px;" />
                    <h3>JSON</h3>
                </div>
            </div>
        </div>

    </div><!-- End Interests -->
    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

        <div class="section-title">
            <h2>Testimonials &#38; References</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    In my weeks teaching David, he proved himself to be hard-working and passionate about learning new concepts and technologies. He worked well with his classmates and remained a very positive influence to those around him.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/JamesCaldwell.jfif" class="testimonial-img" alt="">
                <h3>James Caldwell</h3>
                <h4>Centriq Instructor / Web Developer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I have known David for a few years and currently work with him on a church website housed in a Content Management System. I have grown to love his attention to detail, his ability to stay organized, and I believe that his newly acquired professional skills will take him far.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/jorgeP.jfif" class="testimonial-img" alt="">
                <h3>Jorge Pietrogiovanna</h3>
                <h4>Application Developer - Kansas Dept. of Labor</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    David has shown himself to be a team player throughout our time working on projects. He picks up quickly on new projects and is always willing to help others. I believe David will always be a valued member of any team.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/Classmates/Ben Slenker.jfif" class="testimonial-img" alt="">
                <h3>Ben Slenker</h3>
                <h4>Centriq Classmate</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I worked with David at A&#38;K Railroad Materials for over 2 years. He was very dependable and very good at what he did.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/20210221_151321.jpg" class="testimonial-img" alt="">
                <h3>Rick Gasser</h3>
                <h4>Yard Manager - A&#38;K Railroad Materials</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    David is smart, trustworthy, thoughtful, caring, and a hard worker. I fully expect he will meet and exceed all your expectations.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/Eric Phillips.jfif" class="testimonial-img" alt="">
                <h3>Eric Phillips</h3>
                <h4>Director of Inside Sales - Angie's List</h4>
            </div>

        </div>

    </div><!-- End Testimonials  -->

</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check Out My Resume</p>
            <a href="~/Content/David Muolo (Resume).pdf" target="_blank"><h5 id="download">Click to Download My Resume</h5></a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Qualifications</h4>
                    <ul>
                        <li>Solid foundational knowledge of designing and developing full stack web applications using the .NET MVC framework.</li>
                        <li>Strong teamwork, problem solving, and time management skills shaped through deadline-driven and customer-facing roles.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Developer in Training</h4>
                    <h5 class="hover">Centriq Training &nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp Dec 7, 2020 - Apr 2, 2021</h5>
                    <ul>
                        <li>Learned to create full stack web applications using the .NET MVC Framework.</li>
                        <li>Utilized website deployment &#38; version control best practices.</li>
                        <li>Participated in daily code review, trouble shooting, &#38 debugging.</li>
                        <li>Exhibited professionalism &#38 teamwork skills in project development and stand-ups.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Arts in Music </h4>
                    <h5 class="hover">UMKC - Conservatory of Music &nbsp&nbsp|&nbsp&nbsp 2016 - 2018</h5>
                    <ul>
                        <li>Graduated Magna Cum Laude with a 3.98 GPA.</li>
                        <li>Received and met deadlines on short and long-term composition projects</li>
                        <li>Collaborated on projects with other musicians and artists.</li>
                        <li>Developed &#38 edited compositions in industry standard music composition software.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Professional Background </h3>
                <div class="resume-item">
                    <h4>Shipping &#38; Receiving Coordinator</h4>
                    <h5 class="hover">A &#38; K Railroad Materials &nbsp&nbsp|&nbsp&nbsp 2018 - 2020</h5>
                    <ul>
                        <li>Coordinated all outbound shipments &#38; improved on-time shipment rates to the highest in our company nationwide <strong>(over 98%)</strong>.</li>
                        <li>Supervised &#38; received all inbound shipments using D365 Enterprise Resource Planning software.</li>
                        <li>Directed a site-wide inventory audit on over 100,000 SKUs that was bonus-awarded.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Cashier &#38; Crew Member</h4>
                    <h5 class="hover">Chipotle &nbsp&nbsp|&nbsp&nbsp 2015 - 2018</h5>
                    <ul>
                        <li>Cultivated an excellent customer experience in a fast-paced service environment.</li>
                        <li>Collaborated with a team to achieve excellence in food preparation and general operations.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Guitar Instructor</h4>
                    <h5 class="hover">Meyer Music &nbsp&nbsp|&nbsp&nbsp 2011 - 2018</h5>
                    <ul>
                        <li>Planned and hosted student recitals.</li>
                        <li>Developed students' skills and corresponded with parents to produce competent musicians.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Projects</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-fs">Full Stack</li>
                    <li data-filter=".filter-ca">Console Application</li>
                    <li data-filter=".filter-other">Other</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-fs">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/Black, White and Pink Cube Kyobi Games Logo.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>StoreFront Application</h4>
                        <p>Secure Full Stack eCommerce Site<br /><i>Coming Soon</i></p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/portfolio/Black, White and Pink Cube Kyobi Games Logo.png" data-gall="portfolioGallery" class="venobox" title="About the Project"><i class="bx bx-plus"></i></a>
                            <a href="http://4KO.davidmuolo.com/" target="_blank" title="Go to Project"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-ca">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/A Paper Mario Adventure.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>A Paper Mario Adventure</h4>
                        <p>Console Application</p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/portfolio/A Paper Mario Adventure.PNG" data-gall="portfolioGallery" class="venobox" title="About the Project"><i class="bx bx-plus"></i></a>
                            <a href="https://github.com/dmuolo/DungeonCrawler" target="_blank" title="Go to GitHub"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-other">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/SSSProject.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Six String Society</h4>
                        <p>Front-End Wireframe Project</p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/portfolio/SSSProject.PNG" data-gall="portfolioGallery" class="venobox" title="About the Project"><i class="bx bx-plus"></i></a>
                            <a href="http://sixstringsociety.davidmuolo.com/" target="_blank" title="Go to Project"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Classmates Section ======= -->
<section id="classmates" class="classmates">
    <div class="container">

        <div class="section-title">
            <h2>Classmates</h2>
            <p>My Classmates</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/bryan (1).jpg" class="img-fluid" alt="">
                    <h4><a href="http://www.bryandoescode.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Bryan Clingan <a href="https://www.linkedin.com/in/bryan-clingan-b091b4202/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/Dillon Fisher.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.dillonfisher.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Dillon Fisher <a href="https://www.linkedin.com/in/dillon-fisher-894462205/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/James Glover.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.codingbyjames.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> James Glover <a href="https://www.linkedin.com/in/james-glover-126105135/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/Rachel Mantei.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.rachelmantei.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Rachel Mantei <a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/Dylan Schwarz.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.dylanschwarz.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Dylan Schwarz <a href="https://www.linkedin.com/in/dylan-schwarz-baa1b8181/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/Jeremy Sidener.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.jeremysidener.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Jeremy Sidener <a href="https://www.linkedin.com/in/jeremy-sidener-ab41241ba/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="~/Content/img/Classmates/Ben Slenker.jfif" class="img-fluid" alt="">
                    <h4><a href="http://www.benslenker.com" target="_blank"><i class="icofont-web classmateIcon"></i></a> Ben Slenker <a href="https://www.linkedin.com/in/bslenker/" target="_blank" class="linkedin"><i class="icofont-linkedin classmateIcon"></i></a></h4>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Classmates Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="https://github.com/dmuolo" target="_blank" class="ri-github-fill" <i class="ri-github-fill"></i></a>
                        <a href="https://www.linkedin.com/in/david-muolo" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>
                        <a href="https://www.facebook.com/david.muolo.1/" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p><a href="mailto:davidmuolo1@gmail.com">davidmuolo1@gmail.com</a></p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="section-title">
            <p class="centered">Send Me a Message</p>
        </div>
        <div id="contactForm">
            @Html.Partial("ContactAjax", new PersonalSite1.UI.MVC.Models.ContactViewModel())
        </div>

        <div id="contactConfirm">
            @Html.Partial("EmailConfirm", new PersonalSite1.UI.MVC.Models.ContactViewModel())
        </div>

    </div>
</section><!-- End Contact Section -->

<div class="credits">
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    <br />
    Customized by <a href="https://www.linkedin.com/in/david-muolo" target="_blank">David Muolo</a>
</div>